.selectInputContainer {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 16px;
    padding: 10px;
}

.inputSelectIcon {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 224, 250);
}

.inputIconImage {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
}
