body {
    background-color: #f2f7ff;
}

.custom-input {
    height: 60px !important;
    width: 100%;
}
.gp-10 {
    gap: 10px !important;
}
.gp-20 {
    gap: 20px !important;
}
.gp-16 {
   gap: 16px !important 
}